{% trans_default_domain 'sfs_subscription' %}
{% extends '@SfsSubscription/admin_layout.html.twig' %}
{% block title %}{{ 'admin_plans.list.page_title'|trans }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item">Subscriptions</li>
    <li class="breadcrumb-item active" aria-current="page">Plans</li>
{% endblock breadcrums_content %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Plans</h1>

        {# TODO restrict by permission #}
        <div class="float-right">
            <a class="btn btn-outline-primary" href="{{ url('sfs_subscription_admin_plans_sync_all') }}">{{ 'admin_plans.list.sync_button'|trans }} <span class="mdi mdi-sync"></span></a>
        </div>
    </div>

    {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_subscription_admin_plans_list'} %}
        {% trans_default_domain 'sfs_subscription' %}
        {% block ths %}
            <th scope="col">{{ 'admin_plans.list.fields.product.header'|trans }}</th>
            <th scope="col">{{ 'admin_plans.list.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_plans.list.fields.active.header'|trans }}</th>
            <th scope="col">{{ 'admin_plans.list.fields.price.header'|trans }}</th>
            {#            <th>&nbsp;</th>#}
        {% endblock ths %}

        {% block tbody %}
            {% include '@SfsSubscription/admin/plan/list-page.html.twig' %}
        {% endblock tbody %}

    {% endembed %}
{% endblock content %}