{% trans_default_domain 'sfs_subscription' %}
{% extends '@SfsSubscription/admin_layout.html.twig' %}
{% block title %}{{ 'admin_plans.list.page_title'|trans }}{% endblock %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'admin_plans.list.fields.platform.header'|trans }}</th>
            <th scope="col">{{ 'admin_plans.list.fields.platformId.header'|trans }}</th>
            <th scope="col">{{ 'admin_plans.list.fields.name.header'|trans }}</th>
            <th scope="col">{{ 'admin_plans.list.fields.product.header'|trans }}</th>
            <th scope="col" class="text-right">{{ 'admin_plans.list.fields.price.header'|trans }}</th>
{#            <th>&nbsp;</th>#}
        </tr>
        </thead>

        <tbody>
        {% include '@SfsSubscription/admin/plan/list-page.html.twig' %}
        </tbody>

        {% if entities.pages|default(false) %}
            <tfoot>
            <tr>
                <td colspan="20">
                    {% if entities.prevPage %}
                        <a href="{{ url('sfs_subscription_admin_plans_list', app.request.query.all|merge({ page: entities.prevPage })) }}">Prev page</a>
                    {% endif %}

                    {% if entities.nextPage %}
                        <a class="float-right" href="{{ url('sfs_subscription_admin_plans_list', app.request.query.all|merge({ page: entities.nextPage })) }}">Next page</a>
                    {% endif %}
                </td>
            </tr>
            </tfoot>
        {% endif %}
    </table>
{% endblock content %}